 table,tr,th  {
    border:1px solid red;
 }

td{
	width:75px;
    border: 1px   solid red; 
	align-items:center;
    text-align: center;
    
}

.noBorder{
    border:none;
}

*{
    margin :0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.post-Transition-Metal{

 background-color: rgb(205,235,134);
}
.post-Transition-Metal1{
    background-color: white;
}
.halogen
{
    background-color: blanchedalmond;
}
.transition-metal{
    background-color: rgb(249, 249, 133);
}
.metalloid{
    background-color: rgb(230, 152, 16 );
}

 .non-metal {
   background-color:rgb(255,153,102);
        
  }
  .Lanthanide{
    background-color:rgb(254,237,234)
  }
.Actinide
{
    background-color:rgb(254,237,234);
}

        
 .Nobelgas {
      background-color:rgb(230, 230, 250);
    }
        
.alkali-metal {
       background-color: rgb(221, 160, 221);
    }
        
 .alkaline-earth-metal {
      background-color: rgb(144, 199, 255);
       
    }